{% extends 'base.html' %}
{% block content %}

<div class="auth-container">

    <div class="helmet-wrapper">
        <img src="{{ url_for('static', filename='helmet.png') }}" class="helmet-img">
        <div class="eye eye-left"></div>
        <div class="eye eye-right"></div>
        <img src="{{ url_for('static', filename='helmetlayer.png') }}" alt="Helmet Overlay" class="helmet-overlay">
    </div>

    <form class="auth-form" method="post" action="{{ url_for('web.login') }}">
        <h2>Login</h2>

        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" required>
        </div>

        <button type="submit">Login</button>
        <p class="switch-link">Don't have an account?
            <a href="{{ url_for('web.register') }}">Register</a>
        </p>

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </form>
</div>

<script src="{{ url_for('static', filename='eyes.js') }}"></script>

{% endblock %}
